services:
  db:
    image: postgres:16-alpine
    container_name: orders-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:6
    container_name: orders-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
    - mongo_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: orders-mongo-express
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo:27017/"
      ME_CONFIG_BASICAUTH_ENABLED: "false"

  iaapi:
    build:
      context: ./backend
      dockerfile: ./src/assistant.Ai/Api/Dockerfile
    container_name: orders-ia-api
    restart: unless-stopped
    depends_on:
      api:
        condition: service_started
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      ORDER_API_URL: http://api:8080
    ports:
      - "${IA_API_PORT}:8080"

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: orders-pgadmin
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
  redis:
    image: redis:7-alpine
    container_name: orders-redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./backend
      dockerfile: ./src/order.Api/Dockerfile
    container_name: store-order
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      STRING_CONNECTION: ${STRING_CONNECTION}
      
    ports:
      - "${API_PORT}:8080"

volumes:
  postgres_data:
  pgadmin_data:
  mongo_data:
  redis_data: